#### Reading with pandas

#### Reading with Modin Pandas

In [9]:
start = time.time()

modin_df = pd.read_csv(dataset_url, parse_dates=["tpep_pickup_datetime", "tpep_dropoff_datetime"], quoting=3)

end = time.time()
modin_duration = end - start
print("Time to read with Modin: {} seconds".format(round(modin_duration, 3)))

print("Modin is {}x faster than pandas at `read_csv`!".format(round(pandas_duration / modin_duration, 2)))

Time to read with Modin: 4.614 seconds
Modin is 1.05x faster than pandas at `read_csv`!

In [10]:
modin_df.shape

(1933507, 21)

In [11]:
modin_df.head()

,Unnamed: 0.1,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,...,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,0,0,1,2015-01-01 00:11:33,2015-01-01 00:16:48,1,1.0,1,N,41,...,1,5.7,0.5,0.5,1.40,0.0,0.0,8.40,NaN,NaN
1,1,1,1,2015-01-01 00:18:24,2015-01-01 00:24:20,1,0.9,1,N,166,...,3,6.0,0.5,0.5,0.00,0.0,0.0,7.30,NaN,NaN
2,2,2,1,2015-01-01 00:26:19,2015-01-01 00:41:06,1,3.5,1,N,238,...,1,13.2,0.5,0.5,2.90,0.0,0.0,17.40,NaN,NaN
3,3,3,1,2015-01-01 00:45:26,2015-01-01 00:53:20,1,2.1,1,N,162,...,1,8.2,0.5,0.5,2.37,0.0,0.0,11.87,NaN,NaN
4,4,4,1,2015-01-01 00:59:21,2015-01-01 01:05:24,1,1.0,1,N,236,...,3,6.0,0.5,0.5,0.00,0.0,0.0,7.30,NaN,NaN

#### Reading with pandas

#### Reading with Modin Pandas

In [9]:
start = time.time()

modin_df = pd.read_csv(dataset_url, parse_dates=["tpep_pickup_datetime", "tpep_dropoff_datetime"], quoting=3)

end = time.time()
modin_duration = end - start
print("Time to read with Modin: {} seconds".format(round(modin_duration, 3)))

print("Modin is {}x faster than pandas at `read_csv`!".format(round(pandas_duration / modin_duration, 2)))

Time to read with Modin: 4.614 seconds
Modin is 1.05x faster than pandas at `read_csv`!

In [10]:
modin_df.shape

(1933507, 21)

In [11]:
modin_df.head()

,Unnamed: 0.1,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,...,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,0,0,1,2015-01-01 00:11:33,2015-01-01 00:16:48,1,1.0,1,N,41,...,1,5.7,0.5,0.5,1.40,0.0,0.0,8.40,NaN,NaN
1,1,1,1,2015-01-01 00:18:24,2015-01-01 00:24:20,1,0.9,1,N,166,...,3,6.0,0.5,0.5,0.00,0.0,0.0,7.30,NaN,NaN
2,2,2,1,2015-01-01 00:26:19,2015-01-01 00:41:06,1,3.5,1,N,238,...,1,13.2,0.5,0.5,2.90,0.0,0.0,17.40,NaN,NaN
3,3,3,1,2015-01-01 00:45:26,2015-01-01 00:53:20,1,2.1,1,N,162,...,1,8.2,0.5,0.5,2.37,0.0,0.0,11.87,NaN,NaN
4,4,4,1,2015-01-01 00:59:21,2015-01-01 01:05:24,1,1.0,1,N,236,...,3,6.0,0.5,0.5,0.00,0.0,0.0,7.30,NaN,NaN

In [1]:
# Now import modin
import modin.pandas as pd
import pandas
import time

import cmlextensions_custom.src.cmlextensions.ray_cluster as rc

import os

import cmlapi
import json
from pprint import pprint

In [3]:
# cluster = rc.RayCluster(num_workers=3)
# cluster.init()
# cluster = rc.RayCluster( num_workers=2,
#                          worker_cpu=8, worker_memory=16, worker_nvidia_gpu=0, 
#                          head_cpu=2, head_memory=16, head_nvidia_gpu=0
#                        )
# cluster.init()
cluster = rc.RayCluster(num_workers=3, worker_memory=12,head_memory=12)
cluster.init()

Starting ray head...
Starting 3 ray workers...
Could not start 3 requested ray workers.

Could not start some of the ray workloads. Ensure ray is able to run in your environment and you have the resources in your CML workspace to provision the specified amount of ray workloads.
Set a longer timeout period if your CML workspace needs time to scale.
Shutting down Ray cluster..

In [7]:
# # Set MODIN_MEMORY to half of your total RAM (in bytes) - adjust based on your setup
# os.environ["MODIN_MEMORY"] = str(16 * 1024 * 1024 * 1024)  # Example for 16 GB

# # Set RAY_OBJECT_STORE_SIZE to a lower value if needed
# os.environ["RAY_OBJECT_STORE_SIZE"] = str(8 * 1024 * 1024 * 1024)  # Example for 8 GB

In [5]:
import ray
ray.init(address=cluster.get_client_url())

ClientContext(dashboard_url='', python_version='3.10.13', ray_version='2.6.0', ray_commit='0db82e31e249eac614f7c8e7da1c4f8f05c9064a', protocol_version='2023-06-27', _num_clients=1, _context_to_restore=<ray.util.client._ClientContext object at 0x7f5f569fce20>)

In [6]:
# This may take a few minutes to download
import urllib.request
dataset_url = "https://modin-datasets.intel.com/testing/yellow_tripdata_2015-01.csv"
urllib.request.urlretrieve(dataset_url, "taxi.csv")

('taxi.csv', <http.client.HTTPMessage at 0x7f5f56e13c10>)

#### Reading with pandas

In [7]:
# Pandas loading time:
start = time.time()

pandas_df = pandas.read_csv(dataset_url, parse_dates=["tpep_pickup_datetime", "tpep_dropoff_datetime"], quoting=3)

end = time.time()
pandas_duration = end - start
print("Time to read with pandas: {} seconds".format(round(pandas_duration, 3)))

Time to read with pandas: 4.854 seconds

In [13]:
pandas_df.head().T

,0,1,2,3,4
Unnamed: 0.1,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
VendorID,1,1,1,1,1
tpep_pickup_datetime,2015-01-01 00:11:33,2015-01-01 00:18:24,2015-01-01 00:26:19,2015-01-01 00:45:26,2015-01-01 00:59:21
tpep_dropoff_datetime,2015-01-01 00:16:48,2015-01-01 00:24:20,2015-01-01 00:41:06,2015-01-01 00:53:20,2015-01-01 01:05:24
passenger_count,1,1,1,1,1
trip_distance,1.0,0.9,3.5,2.1,1.0
RatecodeID,1,1,1,1,1
store_and_fwd_flag,N,N,N,N,N
PULocationID,41,166,238,162,236
DOLocationID,166,238,162,263,141
payment_type,1,3,1,1,3
fare_amount,5.7,6.0,13.2,8.2,6.0
extra,0.5,0.5,0.5,0.5,0.5
mta_tax,0.5,0.5,0.5,0.5,0.5
tip_amount,1.4,0.0,2.9,2.37,0.0
tolls_amount,0.0,0.0,0.0,0.0,0.0
improvement_surcharge,0.0,0.0,0.0,0.0,0.0
total_amount,8.4,7.3,17.4,11.87,7.3
congestion_surcharge,NaN,NaN,NaN,NaN,NaN
airport_fee,NaN,NaN,NaN,NaN,NaN

#### Reading with Modin Pandas

In [9]:
start = time.time()

modin_df = pd.read_csv(dataset_url, parse_dates=["tpep_pickup_datetime", "tpep_dropoff_datetime"], quoting=3)

end = time.time()
modin_duration = end - start
print("Time to read with Modin: {} seconds".format(round(modin_duration, 3)))

print("Modin is {}x faster than pandas at `read_csv`!".format(round(pandas_duration / modin_duration, 2)))

Time to read with Modin: 4.614 seconds
Modin is 1.05x faster than pandas at `read_csv`!

In [10]:
modin_df.shape

(1933507, 21)

In [11]:
modin_df.head()

,Unnamed: 0.1,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,...,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,0,0,1,2015-01-01 00:11:33,2015-01-01 00:16:48,1,1.0,1,N,41,...,1,5.7,0.5,0.5,1.40,0.0,0.0,8.40,NaN,NaN
1,1,1,1,2015-01-01 00:18:24,2015-01-01 00:24:20,1,0.9,1,N,166,...,3,6.0,0.5,0.5,0.00,0.0,0.0,7.30,NaN,NaN
2,2,2,1,2015-01-01 00:26:19,2015-01-01 00:41:06,1,3.5,1,N,238,...,1,13.2,0.5,0.5,2.90,0.0,0.0,17.40,NaN,NaN
3,3,3,1,2015-01-01 00:45:26,2015-01-01 00:53:20,1,2.1,1,N,162,...,1,8.2,0.5,0.5,2.37,0.0,0.0,11.87,NaN,NaN
4,4,4,1,2015-01-01 00:59:21,2015-01-01 01:05:24,1,1.0,1,N,236,...,3,6.0,0.5,0.5,0.00,0.0,0.0,7.30,NaN,NaN

In [16]:
modin_df.info()

<class 'modin.pandas.dataframe.DataFrame'>
RangeIndex: 1933507 entries, 0 to 1933506
Data columns (total 21 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Unnamed: 0.1           int64
 1   Unnamed: 0             int64
 2   VendorID               int64
 3   tpep_pickup_datetime   datetime64[ns]
 4   tpep_dropoff_datetime  datetime64[ns]
 5   passenger_count        int64
 6   trip_distance          float64
 7   RatecodeID             int64
 8   store_and_fwd_flag     object
 9   PULocationID           int64
 10  DOLocationID           int64
 11  payment_type           int64
 12  fare_amount            float64
 13  extra                  float64
 14  mta_tax                float64
 15  tip_amount             float64
 16  tolls_amount           float64
 17  improvement_surcharge  float64
 18  total_amount           float64
 19  congestion_surcharge   float64
 20  airport_fee            float64
dtypes: datetime64[ns](2), float64(10), int64(8), object(1)
memory usage: 309.8+ MB

In [23]:
# shm_size = os.statvfs('/dev/shm').f_frsize * os.statvfs('/dev/shm').f_bavail
# print(f"Available /dev/shm size: {shm_size / 1024 / 1024:.2f} MB")

In [ ]:
for i in range(10):
    for col in modin_df.columns:
        new_col_name = f"{col}_copy_{i}"
        modin_df[new_col_name] = modin_df[col]

In [26]:
ray.shutdown()
cluster.terminate()

Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=432, ip=100.100.175.137)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=432, ip=100.100.175.137)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=432, ip=100.100.175.137)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=431, ip=100.100.175.137)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=431, ip=100.100.175.137)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=259, ip=100.100.155.72)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=259, ip=100.100.155.72)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=259, ip=100.100.155.72)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=260, ip=100.100.155.72)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=260, ip=100.100.155.72)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=260, ip=100.100.155.72)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=258, ip=100.100.155.72)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=258, ip=100.100.155.72)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=258, ip=100.100.155.72)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=261, ip=100.100.155.72)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=261, ip=100.100.155.72)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=261, ip=100.100.155.72)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=432, ip=100.100.175.137)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=432, ip=100.100.175.137)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=431, ip=100.100.175.137)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=431, ip=100.100.175.137)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=431, ip=100.100.175.137)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=261, ip=100.100.155.72)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=261, ip=100.100.155.72)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=261, ip=100.100.155.72)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=258, ip=100.100.155.72)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=258, ip=100.100.155.72)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=258, ip=100.100.155.72)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable
Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_deploy_ray_func() (pid=260, ip=100.100.155.72)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
  File "/home/cdsw/.local/lib/python3.10/site-packages/modin/core/execution/ray/common/engine_wrapper.py", line 53, in _deploy_ray_func
    result = func(*args, **kwargs)
TypeError: 'str' object is not callable